/* Full element modification */
body{
    font-family: 'Mulish',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
p{
    font-size: 14px;
    color: grey;
    font-weight: 600;
}
a{
    cursor: pointer;
}
:is(h1,h2,h3,h4,h5){
    font-weight: 700;
}

/*Background polygon*/
.polygon{
    background-color: #038AFF;
    width: 100vw;
    height: 700px;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
.footerpolygon{
    background-color: #161348;
    position: absolute;
    width: 100vw;
    height: max-content;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}

/*Hero image section*/
.heroImage{
    border-radius: 10px 10px 50px 10px;
    width:100%;
    min-width: 370px;
    height: max-content;
    background-color: white;
    /* display: flex;
    flex-direction: column; */
}
.heroImage .card-body *{
    font-size: 80%;
}
.heroImage .card-body b{
    font-size: 14px;
}

.companyFlex>img{
    height: 20px;
}
#addNew{
    border-color: lightgrey;
    color: black;
    font-weight: 700;
}

.creditCard{
    border-radius: 10px 10px 10px 10px;
    background-color: #1A1146;
    width:100%;
    min-width: 338px;
    height:max-content;
    color: white;
    
}
.card-body>span{
    float: right;
}
.creditCardKey{
    font-size: 0.5rem;
    font-weight: 300;
}
#creditCardNo{
    font-size: 22px;
}
#viewAll{
    font-weight: 500;
    border-bottom:2px dotted #399BFE ;
    width: fit-content;
    cursor: pointer;
}

/*Tools section*/
.toolsProject{
    grid-column: 1/3;
    grid-row: 2/4;
    height: fit-content;
}
.toolsImage{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;;
}
.toolsVideo{
    grid-column: 2/4;
    grid-row: 1/3;
    z-index: 3;
}

.roundBtn{
    color: white;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 10px;
}

.technologyColumn .card{
    width: 100%;
}
.technologyColumn .card-body{
    padding: 1rem;
    font-size: 10px;
}
.technologyColumn p{
    font-size: 10px;
}
.technologyColumn h5{
    font-size: 14px;
}
.techUIcontainer{
    padding-left: 20%;
    padding-right: 20%;
}
.techUIimg{
    height: 36px;
    width: fit-content;
}
.techUIimg>img{
    height: 100%; 
    width:auto;
    margin-left:-20% ;
    border: 2px solid #F4F3F8;

}
.techUItool{
    border-top: 1px solid #F4F3F8;
    padding-top: 0.75rem;
    width: 100%;
}
.starRank{
    width: fit-content;
}
.starRank i{
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}
.cardIcon{
    height: 24px;
    width: fit-content;
}
.techUIline{
    width: 80%;
    height: 2px;
    color: black;
}
#techLink{
    font-weight: 600;
    width: fit-content;
    border-bottom:2px solid #399BFE ;
}

/*Install Section*/
.downloadIcons{
    width: fit-content;
    font-size: 3px;
    height: fit-content;
    background-color: black;
    cursor: pointer;
}
.downloadIcons i{
    width: auto;
    height: 100%;
}
.appStoreName{
    font-size: 20px;
    margin-top: -8px;
}

/*Solutions Section*/
.solutions{
    background-color: #161348;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}
.solutions .btn{
    margin: 20% 0;
}
.learnMore{
    width: fit-content;
    color: #413F68;
    font-weight: 500;
    border-bottom:2px solid #413F68 ;
}

/*Awards Section*/
#Awards{
    background-color: #FAFBFF;
}
#Awards p{
    font-size: 12px;
}
#Awards h5{
    font-size: 13px;
}
#Awards .card{
    cursor: pointer;
}
#Awards .card:hover{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}

/*Footer section*/
.companyFlex>i{
    color:rgba(255,255,255,.5);
    margin-right:2rem ;
}
.footerItems div{
    color: rgba(255,255,255,.5);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0.25rem;
}
.curvedLine{
    height: 120px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;

    border-width: 2px;
    border-color: #DFE6F0;
}


/*Bootstrap style overwrite*/
.navbar.navbar-expand-md{
    border-bottom: 1px solid #399BFE;
}
.nav-link{
    color: white;
}
.badge-pill{
    width: fit-content;
    color: white;
    padding: 0.5rem 0.7rem;
}
.card-img{
    height: 100%;
    object-fit: cover;
}
.card-columns {
    column-count:2;
}
.btn{
    font-weight: 500;
    font-size: small;
}
.card-deck{
    height: 300px;
}
.card-deck>.card{
    height: fit-content;
}
.card-header{
    background-color: white;
}