.polygon{
    background-color: #038AFF;
    width: 100vw;
    height: 700px;
    position: absolute;
}
.navbar.navbar-expand-md{
    border-bottom: 1px solid #399BFE;
    /* font-weight: 400;
    color: white; */
}

.heroImage{
    border-radius: 10px 10px 50px 10px;
    width:100%;
    min-width: 370px;
    height: max-content;
    background-color: white;
    /* display: flex;
    flex-direction: column; */
}

#heroSection>:is(h1,p){
    color: white;
}
.companyFlex>img{
    height: 20px;
}
.creditCard{
    border-radius: 10px 10px 10px 10px;
    background-color: black;
    width:100%;
    min-width: 338px;
    height:max-content;
    color: white;
    
}
.card-body>span{
    float: right;
}
.creditCardKey{
    font-size: 6px;
}
#creditCardNo{
    font-size: 24px;
}
#addNewBtn{
    float: right;
}
.toolsImage{
    min-height: 400px;
}

.videoImage>img{
    width:60%;
    height: max-content;
    border-radius: 10px;
    right: 0px;
    float: right;
    z-index: 2;
}
.videoImage>button{
    position: absolute;
    top: 10px;
    right: 10px;
}

.boarderBox{
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #F4F3F8;
    width: 60%;
    height: 230px;
    background-color: whitesmoke;
    margin-top: -60%;
    z-index: 0;
    box-shadow: rgba(255, 255, 255, 0.096);
} 
.btn{
    font-weight: 500;
    font-size: small;
}
#viewAll{
    text-decoration-style: dashed;
}
