.polygon{
    background-color: #038AFF;
    width: 100vw;
    height: 700px;
    position: absolute;
}
.footerpolygon{
    background-color: #161348;
    position: absolute;
    width: 100vw;
    height: max-content;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}
.footerItems div{
    color: rgba(255,255,255,.5);
}

.heroImage{
    border-radius: 10px 10px 50px 10px;
    width:100%;
    min-width: 370px;
    height: max-content;
    background-color: white;
    /* display: flex;
    flex-direction: column; */
}

#heroSection>:is(h1,p){
    color: white;
}
.companyFlex>img{
    height: 20px;
}
.creditCard{
    border-radius: 10px 10px 10px 10px;
    background-color: black;
    width:100%;
    min-width: 338px;
    height:max-content;
    color: white;
    
}
.card-body>span{
    float: right;
}
.creditCardKey{
    font-size: 6px;
}
#creditCardNo{
    font-size: 24px;
}
#addNewBtn{
    float: right;
}
.toolsProject{
    grid-column: 1/3;
    grid-row: 2/4;
    height: fit-content;
}
.toolsImage{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;;
}
.toolsVideo{
    grid-column: 2/4;
    grid-row: 1/3;
    z-index: 3;
}


.boarderBox{
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #F4F3F8;
    width: 400px;
    height: 230px;
    background-color: whitesmoke;
    z-index: 1;

} 

#viewAll{
    text-decoration-style: dashed;
}
.roundBtn{
    color: white;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 10px;
}
.technologyColumn .card{
    width: 100%;
}
.technologyColumn .card-body{
    padding: 1rem;
    font-size: 10px;
}
.technologyColumn p{
    font-size: 10px;
}
.technologyColumn h5{
    font-size: 12px;
}
.techUIcontainer{
    padding-left: 20%;
    padding-right: 20%;
}
.techUIimg{
    height: 36px;
    width: fit-content;
}
.techUIimg>img{
    height: 100%; 
    width:auto;
    margin-left:-20% ;
    border: 2px solid #F4F3F8;

}
.techUItool{
    width: 100%;
}
.starRank{
    width: fit-content;
}
.starRank i{
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}
.cardIcon{
    height: 24px;
    width: fit-content;
}
.techUIline{
    width: 80%;
    height: 2px;
    color: black;
}
#techLink{
    font-weight: 600;
    width: fit-content;
    border-bottom:2px solid #399BFE ;
}
.downloadIcons{
    width: fit-content;
    font-size: 3px;
    height: fit-content;
    background-color: black;
}
.downloadIcons i{
    width: auto;
    height: 100%;
}
.appStoreName{
    font-size: 20px;
    margin-top: -8px;
}

.solutions{
    background-color: #161348;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}
.solutions .btn{
    margin: 20% 0;
}
#Awards{
    background-color: #FAFBFF;
}
#Awards p{
    font-size: 12px;
}
#Awards .card{
    cursor: pointer;
}
#Awards .card:hover{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}
.learnMore{
    width: fit-content;
    color: #413F68;
    font-weight: 500;
    border-bottom:2px solid #413F68 ;
}
.companyFlex>i{
    color:rgba(255,255,255,.5);
    margin-right:2rem ;
}


/*Bootstrap style overwrite*/
.navbar.navbar-expand-md{
    border-bottom: 1px solid #399BFE;
    /* font-weight: 400;
    color: white; */
}
.nav-link{
    color: white;
}
.badge-pill{
    width: fit-content;
    color: white;
    padding: 0.5rem 0.7rem;
}
.card-img{
    height: 100%;
    object-fit: cover;
}
.card-columns {
    column-count:2;
}
.btn{
    font-weight: 500;
    font-size: small;
}
.card-deck{
    height: 300px;
}
.card-deck>.card{
    height: fit-content;
}
.card-header{
    background-color: white;
}